/**
 * Association UI: Editor
 */

.field[data-editor^='aui-editor'] .item {
  padding-left: 1.3rem;
  background-image: url(editor.svg);
  background-repeat: no-repeat;
  background-position: 1rem center;
  background-size: 0.8rem 10rem;
}

.aui-editor-trigger {
	position: absolute;
	top: 0.5rem;
	left: -1rem;
	overflow: hidden;
	width: 3rem;
	height: 100%;
	text-indent: -1000em;
	border: none;
	background: none;
	cursor: pointer;
}

.aui-editor-create {
	margin-top: -0.5rem;
	text-align: right;
}

.aui-editor-button {
	margin-right: 0 !important;
}

.aui-editor-progress {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0.3rem;
	background: #5c83ba;
	-webkit-transition: width 4s ease-in;
	transition: width 4s ease-in;
	opacity: 1;
	z-index: 5000;
}

.aui-editor-progress.changes-fast {
	-webkit-transition: width 0.5s ease-in, opacity 0.25s ease-in 0.75s;
	transition: width 0.5s ease-in, opacity 0.25s ease-in 0.75s;
}

.aui-editor-progress.is-hidden {
	opacity: 0;
}

/* Page */

@-webkit-keyframes introduce {
	from {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes introduce {
	from {
		-webkit-transform: scale(0.6);
		transform: scale(0.6);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes close {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0;
	}
}

@keyframes close {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0;
	}
}

.aui-editor {
	position: absolute;
	top: 0;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	padding: 1rem 0 0 1.8rem;
	z-index: 5000;
}

.aui-editor.is-hidden {
	display: none;
}

.aui-editor-page {
	position: relative;
	width: 100%;
	height: 100%;
	border: 0.1rem solid rgba(191, 191, 183, 0.65);
	background: #fff;
	box-shadow: 0 -0.2rem 0.3rem rgba(0, 0, 0, 0.05);
	-webkit-animation: introduce 0.25s forwards;
	animation: introduce 0.25s forwards;
}

.is-canceled .aui-editor-page {
	-webkit-animation: close 0.25s forwards;
	animation: close 0.25s forwards;
}

.aui-editor-page iframe {
	width: 100%;
	height: 100%;
	border: none;
	-webkit-transition: opacity 0.25s ease-in;
	transition: opacity 0.25s ease-in;
	opacity: 1;
}

.aui-editor-page iframe.is-hidden {
	opacity: 0;
}

/* Nested section */

.aui-editor-close {
	position: absolute;
	top: 2.2rem;
	right: 1.8rem;
	color: rgba(0, 0, 0, 0.3);
	font-size: 127.28%;
	line-height: 1.35;
	border: none;
	-webkit-transition: color 0.25s ease-in;
	transition: color 0.25s ease-in;
}

.aui-editor-close span,
.aui-editor-close:hover {
	color: rgba(0, 0, 0, 0.7);
}

.aui-editor-section #header {
	border: none;
}

.aui-editor-section .notifier {
	color: rgba(0, 0, 0, 0.7) !important;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1) !important;
	background-color: #f4f4f4 !important;
}

.aui-editor-section .notice {
	color: rgba(0, 0, 0, 0.7);
	background-color: #fff;
}

@-webkit-keyframes inlinesuccess {
	to {
		color: rgba(0, 0, 0, 0.7);
		border-color: rgba(0, 0, 0, 0.1);
		background-color: #f4f4f4;
	}
}

@keyframes inlinesuccess {
	to {
		color: rgba(0, 0, 0, 0.7);
		border-color: rgba(0, 0, 0, 0.1);
		background-color: #f4f4f4;
	}
}

.aui-editor-section .notice.success {
	color: #6d7841;
	border: none !important;
	background-color: #bfdc96;
	-webkit-animation: inlinesuccess 0.5s ease-out 10s 1 forwards;
	animation: inlinesuccess 0.5s ease-out 10s 1 forwards;
}

.aui-editor-section #context {
	min-height: 3rem;
	padding: 2.2rem 1.8rem 0.5rem;
	border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
	background: #fff;
}

.aui-editor-section #breadcrumbs a {
	border: none;
}

.aui-editor-section #contents {
	border: none;
	box-shadow: none;
}
