/**
 * Association UI: Editor 
 */

.aui-editor-trigger {
	float: left;
	width: 0.8rem;
	height: 100%;
	margin-right: 0.5rem;
	text-indent: -1000em;
	border: none;
	background: url(editor.svg) 0 center no-repeat;
}
